.createNewEvent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 50vh;
  margin-top: 50px;
  margin-bottom: 50px;

  h2 {
    text-align: center;
    color: $primaryBackgroundColor;
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 20px;

  background: $primaryColor;
  border: 2px solid $primaryBackgroundColor;
  padding: 50px 40px;
  color: $primaryBackgroundColor;
  border-radius: 15px;
  box-shadow: 5px 5px $primaryBackgroundColor;


  input {
    border: none;
    background: $primaryBackgroundColor;
    border-radius: 30px;
    padding: 10px;
    &::placeholder {
      color: white;
    }

  }

  input:focus{
    background: $secondaryColor;

    &::placeholder {
      color: white;
    }
  }

  * {
    margin-bottom: 5px;
  }

  input[type="submit"] {
    margin-top: 20px;
    color: white;
    &:hover {
      background: $secondaryColor;
    }
  }
}
