// the section that contains a from that allows the 
//  user to create new events that are added to 
//  firebase on submit.
.createNewEvent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 50vh;
  margin-top: 50px;
  margin-bottom: 50px;

  h2 {
    text-align: center;
    color: $primaryBackgroundColor;
  }
}

// the form that allows users to create new events
//  that are then added to firebase.
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 20px;
  padding: 40px;
  border: 2px solid $primaryBackgroundColor;
  border-radius: 15px;

  background: $primaryColor;
  color: $primaryBackgroundColor;
  box-shadow: 5px 5px $primaryBackgroundColor;

  @include forPhone {
    padding: 20px;
  }

  input {
    border: none;
    border-radius: 30px;
    padding: 10px;

    background: $primaryBackgroundColor;
    transition: 0.2s all ease-in-out;
    
    &::placeholder {
      color: white;
      padding-left: 10px;
    }

  }

  input:focus{
    background: $secondaryColor;

    &::placeholder {
      color: white;
    }
  }

  * {
    margin-bottom: 5px;
  }

  input[type="submit"] {
    margin-top: 20px;
    color: white;
    &:hover {
      background: $secondaryColor;
    }
  }
}
