// the section that contains the DisplayResultDashboard
//  React component.
section.DisplayResultDashboard {
  background-color: $primaryBackgroundColor;
  min-height: 100vh;
  color: $primaryColor;
  padding-top: 50px;

  .resultTitle {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    background: black;
  }

  // flex added for symmetry.
  .halfDivider {
    display: flex;
    @include forTablet {
      flex-direction: column;
    }
  }

  // div that contains the image of the user-selected
  //  tv show, which varies on click. 
  .tvShowResultsImageContainer {
    width: 50%;
  }

  // .eventResult and .tvShowResults take up 50% of the 
  //  final result dashboard generated for users.
  .eventResult,
  .tvShowResults {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    padding: 50px;
    border-radius: 40px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    
    background: $primaryColor;
    box-shadow: $secondaryColor 10px 10px;

    h2,
    a,
    p {
      color: $primaryBackgroundColor;
      text-align: center;
    }

    h2 {
      margin-bottom: 10px;
      @include forPhone {
          line-height: 1;
      }
    }

    a {
      margin: 15px 0 5px;

      font-weight: 700;
      text-transform: uppercase;
    }

    a:hover,
    a:focus {
      color: orangered;
    }

    p {
      margin-top: 2px;
    }

    button {
      border: none;
      border-radius: 10px;

      background: $primaryColor;
    }

    @include forTablet {
      width: 100%;
    }
  }

  .eventResult {
    margin-right: 15px;
  }

  .tvShowResults {
    margin-left: 15px;
    @include forTablet{
      margin: 30px 0;
    }
  }
}
