<<<<<<< HEAD
s.listOfEvents {
=======
// the <ul> that contains the event objects pulled from firebase and displays
//  them as a list.
.listOfEvents {
>>>>>>> ab0eaeeba826d16b7269a6cd15fd77bab8492583
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 50px;
    padding: 40px 40px;
    border-radius: 5px;

    background: linear-gradient(50deg, $primaryColor 20%, $secondaryColor);
    box-shadow: $primaryBackgroundColor 0 0 5px;

    // this describes each tv show list item displayed in 
    //  .listOfEvents.
    .singleEvent {
        width: 30%;
        margin: 50px 10%;

        box-shadow: $secondaryColor 15px 15px;
        text-align: center;

        transition: all 0.15s ease-out;

        // all of each .singleEvent <li> is covered by a button,
        //  this allows the user to select their preferred show
        //  and pass its value on to other components.
        button {
            width: 100%;
            min-height: 280px;
            border: none;

            background: $primaryBackgroundColor;
            color: $primaryColor;
        }

    }

    .singleEvent:hover,
    .singleEvent:focus {
        box-shadow: orangered 15px 15px;

        h1 {
            color: orangered;
        }
    }

    .singleEvent:active {
        box-shadow: orangered 15px -25px;
    }
}