// the <ul> that contains the event objects pulled from firebase and displays
//  them as a list.
.listOfEvents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-bottom: 50px;
    padding: 20px;
    border-radius: 5px;

    background: linear-gradient(50deg, $primaryColor 20%, $secondaryColor);
    box-shadow: $primaryBackgroundColor 0 0 5px;

    @include forTablet {
        padding: 20px 0;
    }

    @include forPhone {
        flex-direction: column;
        align-items: center;
    }

    // this describes each tv show list item displayed in 
    //  .listOfEvents.
    .singleEvent {
        width: 28%;
        margin: 20px;

        box-shadow: $secondaryColor 15px 15px;
        text-align: center;

        transition: all 0.15s ease-out;

        @include forSmallDesktop {
            width: 33%;
        }

        @include forTablet {
            width: 40%;
        }

        @include forPhone {
            width: 80%
        }

        // all of each .singleEvent <li> is covered by a button,
        //  this allows the user to select their preferred show
        //  and pass its value on to other components.
        button {
            width: 100%;
            min-height: 280px;
            border: none;

            background: $primaryBackgroundColor;
            color: $primaryColor;
        }

    }

    .singleEvent:hover,
    .singleEvent:focus {
        box-shadow: orangered 15px 15px;

        h1 {
            color: orangered;
        }
    }

    .singleEvent:active {
        box-shadow: orangered 15px -25px;
    }
}