// contains general styles that apply across all
//  app components.
// also contains style stripping.

/* stripping style */
body, 
h1, 
h2, 
h3, 
h4, 
h5, 
ul, 
p{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, 
li {
    list-style: none;
}

/* root size */
html {
    font-size: 62.5%;
}

h1, h2, h3 {
    font-family: 'Sulphur Point', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;

    background: linear-gradient(-135deg, $primaryColor 20%, $secondaryColor);
}

img {
    display: block;

    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;

    @include forTablet {
        max-width: 900px;
        width: 90%;
    }

    @include forPhone {
        max-width: 599px;
        width: 95%;
    }
}

.tvShowWrapper {
    max-width: 1400px;
    width: 98%;
    margin: 0 auto;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    
    background: white;
    color: black;
    }

.skip-link:focus {
    left: 0;
}