/* stripping style */
body, 
h1, 
h2, 
h3, 
h4, 
h5, 
ul, 
p{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, 
li {
    list-style: none;
}

/* root size */
html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
    }

.skip-link:focus {
    left: 0;
}