h1, h2, h3 {
    font-family: 'Sulphur Point', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;

    background: linear-gradient(-135deg, $primaryColor 20%, $secondaryColor);
}

// Display section tv shows

.displaySection {
    width: 100%;

    .displayInner {
        // width: 7000px;
        overflow: scroll;
        max-width:100%;
        height: auto;

        .displayAllFilteredTvShows {
            display: flex;

            li {
                margin: 20px;

                button {
                    width: 300px;
                    padding: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}

header {
    background: $primaryBackgroundColor;
    height: 100vh;
    color: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    text-align: center;

    h1 {
        text-shadow: 5px 5px $secondaryColor;
    }
}

select {
    -moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;

    border: 3px solid $primaryBackgroundColor;
    border-radius: 6px;

    font-size: 2.8rem;

    background: $secondaryColor;
    color: $primaryBackgroundColor;

    background-image: url(../asset/arrowIcon.png);
	background-repeat: no-repeat;
	background-position: 95% center;
}