h1, h2, h3 {
    font-family: 'Sulphur Point', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

// Display section tv shows

.displaySection {
    width: 100%;

    .displayInner {
        // width: 7000px;
        overflow: overlay;
        max-width:100%;

        .displayAllFilteredTvShows {
            display: flex;

            li {
                width:500px;
                padding: 5%;
            }

        }
    }
}