// describes the element containing tv show data
//  that takes up half of the final result dashboard.
.tvShowInfo {
    display: flex;
    margin: 0 auto;
    background: black;  
    padding: 50px 0;
    color: white;

    @include forTablet {
        height: auto;
    }

    .tvShowDescription {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 40%;
        margin: 0 5%;

        @include forTablet {
            width: 100%;
            margin: 20px 5%;
        }

        a {
            color: darken($secondaryColor,15%);
                background: darken($primaryBackgroundColor, 50%);
            padding: 7px;
            width: 30%;
            font-weight: bold;
            margin: 20px 0;
            border-radius: 2px;
            &:hover {
                color: darken($primaryBackgroundColor, 50%);
            background: darken($secondaryColor,15%);
                

            }
        }

        p {
            margin: 10px 0;
        }
    }

    .tvShowPhoto {
        margin: 5% auto;

        width: 40%;
        margin: 0 5%;

        @include forTablet {
            width: 100%;
            height: auto;
        }

    }

    @include forTablet {
        flex-wrap: wrap;
    }
}