// the section that contains the select elements
//  for day and TV show genre.
.dropdownDays {
    background: inherit;
}

// contains the <ul> in which the selected TV show list is displayed.
.displayInner {
    border-radius: 5px;
    background: linear-gradient(45deg, $primaryBackgroundColor 60%, $secondaryColor);
}

// prevents the <ul> or its container from overflowing from <li> content.
.displaySection .displayInner{
    overflow-y: hidden;
}   

// describes each <li> containing tv show data.
.tvShowListItem,
.randomShow {
    border-radius: 10px;
    
    background: $primaryColor;
    box-shadow: $secondaryColor 10px 10px;

    transition: all 0.1s ease-out;

    h2, 
    a, 
    p {
        color: $primaryBackgroundColor;
    }

    h2 {
        margin-bottom: 10px;
    }

    a {
        margin: 15px 0 5px;
        
        font-weight: 700;
        text-transform: uppercase;
    }

    a:hover,
    a:focus {
        color: orangered;
    }

    p {
        margin-top: 2px;
    }

    img {
        @include forPhone {
            max-height: 290px;
        }
    }
    
    // each tvShow <li> is covered by a button,
    //  allowing the user to select their preferred
    //  show and pass its data to other components.
    button {
        border: none;
        border-radius: 10px;

        background: $primaryColor;

        @include forPhone {
            padding: 15px;
        }
    }
}

.tvShowListItem:hover, 
.tvShowListItem:focus,
.randomShow:hover, 
.randomShow:focus {
    box-shadow: orangered 13px 13px; 
}

.tvShowListItem:active,
.randomShow:active {
    box-shadow: orangered 13px -13px;
}